[program:celery_network]
user={{ www_user }}
directory={{ immunity22_path }}
command={{ immunity22_path }}/env/bin/celery -A immunity22 worker -l info --queues network -O {{ immunity22_celery_network_optimization }}{% if immunity22_celery_network_concurrency %} --concurrency={{ immunity22_celery_network_concurrency }}{% elif immunity22_celery_network_autoscale %} --autoscale {{ immunity22_celery_network_autoscale }}{% endif %}{% if immunity22_celery_network_prefetch_multiplier %} --prefetch-multiplier {{ immunity22_celery_network_prefetch_multiplier }}{% endif %} -n network@%%h
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ immunity22_path }}/log/celery-network.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
