[program:celery_monitoring]
user={{ www_user }}
directory={{ immunity22_path }}
command={{ immunity22_path }}/env/bin/celery -A immunity22 worker -l info --queues monitoring -O {{ immunity22_celery_monitoring_optimization }}{% if immunity22_celery_monitoring_concurrency %} --concurrency={{ immunity22_celery_monitoring_concurrency }}{% elif immunity22_celery_monitoring_autoscale %} --autoscale {{ immunity22_celery_monitoring_autoscale }}{% endif %}{% if immunity22_celery_monitoring_prefetch_multiplier %} --prefetch-multiplier {{ immunity22_celery_monitoring_prefetch_multiplier }}{% endif %} -n monitoring@%%h
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ immunity22_path }}/log/celery-monitoring.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
