[program:celerybeat]
user={{ www_user }}
directory={{ immunity22_path }}
command={{ immunity22_path }}/env/bin/celery -A immunity22 beat -l info --schedule {{ immunity22_path }}/celerybeat-schedule.db
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ immunity22_path }}/log/celerybeat.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
