[fcgi-program:daphne]
user={{ www_user }}
socket=unix://{{ immunity22_path }}/daphne0.sock
directory={{ immunity22_path }}
command={{ immunity22_path }}/env/bin/daphne --fd 0 -u {{ immunity22_path }}/daphne%(process_num)d.sock --access-log - --websocket_timeout {{ immunity22_daphne_websocket_timeout }} --proxy-headers immunity22.asgi:application
process_name=asgi%(process_num)d
numprocs={{ immunity22_daphne_processes }}
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ immunity22_path }}/log/daphne.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
