[program:immunity22]
user={{ www_user }}
directory={{ immunity22_path }}
command={{ immunity22_path }}/env/bin/uwsgi --ini uwsgi.ini
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ immunity22_path }}/log/uwsgi.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
