[uwsgi]
chdir={{ immunity22_path }}
uid=www-data
module=immunity22.wsgi:application
master=True
pidfile={{ immunity22_path }}/uwsgi.pid
socket={{ immunity22_uwsgi_socket }}
processes={{ immunity22_uwsgi_processes }}
threads={{ immunity22_uwsgi_threads }}
listen={{ immunity22_uwsgi_listen }}
harakiri=20
max-requests=5000
vacuum=True
enable-threads=True
env=HTTPS=on
buffer-size=8192
{% if immunity22_uwsgi_gid %}
gid={{ immunity22_uwsgi_gid }}
{% endif %}
ignore-sigpipe
ignore-write-errors
disable-write-exception
{% if immunity22_uwsgi_extra_conf %}
{{ immunity22_uwsgi_extra_conf }}
{% endif %}
